/* button {
  width: 100px;
  height: 50px;
  display: flex;
  margin-top: 50px;
  color: rgb(14, 15, 15);
  background-color: #0cd20f;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
button:active {
  background-color: #0df6c4;
}
#counter {
  position: absolute;
  font-size: 40px;
  margin-left: 40px;
} */

                 /* // 2 */
/* button {
  width: 200px;
  height: 100px;
  background-color: rgb(10, 10, 144);
  color: aliceblue;
  margin: 50px;
  font-size: 20px;
}

h2 {
  background-color: #06506b;
  width: 300px;
  font-size: 50px;
  margin: 20px 0 0 20px;
  color: #dce9e7;
} */


/* .box_1 {
  border: 5px solid rgb(18, 18, 18);
  background-color: rgb(243, 243, 250);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 22px;
}
.box_2 {
  border: 5px solid rgb(23, 23, 22);
  background-color: rgb(237, 237, 243);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 24, 9);
  font-size: 18px;
}
.box_3 {
  border: 5px solid rgb(13, 13, 13);
  background-color: rgb(232, 232, 242);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 22px;
} */

