canvas {
  margin: 0 auto;
  display: block;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #afaaaa;
}

.modal {
  width: 550px;
  height: 550px;
  position: absolute;
  background: #fff;
  border-radius: 30px ;
}
.text {
  width: 500px;
  position: absolute;
  color: red;
  font-size: 140px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 10px 5px 5px #000000;
}

.restart {
  position: absolute;
  bottom: 57px;
  width: 150px;
  height: 50px;
  font-size: 25px;
  right: 50px;
  border: 3px solid red;
  background-color: #0a2874;
  color: aliceblue;
}
.textResult {
  position: absolute;
  width: 300px;
  left: 5%;
  bottom: 17px;
  height: 50px;
  font-size: 30px;
  color: rgb(7, 214, 24);
}
.result {
  position: absolute;
  bottom: 5px;
  font-size: 40px;
  left: 50%;
  color: rgb(238, 8, 8);
}