                     /* 1. */
/* .container{
  position: relative;
}
button {
  width: 100px;
  height: 50px;
  display: flex;
  margin-top: 50px;
  color: rgb(14, 15, 15);
  background-color: #fff;
  justify-content: center;
  align-self: center;
  font-size: 30px;
}
#counter {
  position: absolute;
  font-size: 40px;
  margin-left: 40px;
} */

                 /* // 2 */
button {
  width: 200px;
  height: 100px;
  background-color: rgb(10, 10, 144);
  color: aliceblue;
  margin: 50px;
  font-size: 20px;
}
h2 {
  background-color: #0daee9;
  width: 300px;
  font-size: 50px;
  margin: 50px;
  color: #dce9e7;
}

         /* //         3 */
/* .box_1 {
  border: 5px solid rgb(247, 5, 5);
  background-color: rgb(243, 243, 250);
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
.box_2 {
  border: 5px solid rgb(215, 238, 9);
  background-color: rgb(237, 237, 243);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.box_3 {
  border: 5px solid rgb(33, 227, 7);
  background-color: rgb(232, 232, 242);
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */